@import "tailwindcss";

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Poppins', sans-serif;
  background-color: #f0f0f0;
  color: #333;
  height: 50vh;
  background-image: linear-gradient(to right, #1f2236, #142d3c);
}
@font-face {
  font-family: 'Urbanist';
  src: url('/fonts/Urbanist-Regular.woff2') format('woff2'),
       url('/fonts/Urbanist-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'OrbitronBold';
  src: url('/fonts/Orbitron-Bold.woff2') format('woff2'),
       url('/fonts/Orbitron-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'UrbanistBold';
  src: url('/fonts/Urbanist-Bold.woff2') format('woff2'),
       url('/fonts/Urbanist-Bold.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}